<ion-view title="Change Family Card No" class="bg-lightgrey">

    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content class="has-header materialize" scroll="true">
        <ion-list>
            

            <div class="item item-divider">Family Card No</div>
            <div class="row">
                <div class="input-field col">
                    <input ng-model="familycardno.familyCardNo" placeholder="Enter Family Card No Number" type="text" class="validate" name="familyCardNo" ng-pattern="/^[0-9]*$/" maxlength="20" ng-value="{{familycardno.familyCardNo}}">
                </div>
            </div>        

            <div class="item item-divider">Document</div>
            <div class="row" ng-show="appMode=='mobile'">
                  <button class="button button-block button-outline button-positive" ng-click="addPicture()"><i class="icon ion-ios-camera-outline"></i> Add Attachment</button>
            </div>
            <div class="row" ng-show="appMode=='web'">
                    <input id="inputImage" type="file" accept="image/*" ng-model="familycardno.imagesData" image="familycardno.imagesData" resize-max-height="800" resize-max-width="800" resize-quality="0.7" resize-type="image/jpg" multiple="multiple" ng-image-compress/> 
            </div>
            <div class="row post" ng-show="appMode=='mobile'" >
                  <div class="col" style="height:90px;width:90px" ng-repeat="items in familycardno.images" ><img height="90px" width="90px"   ng-src="{{items.image}}" /> <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button></div>
                 
            </div>
            <div class="row post" ng-show="appMode=='web'">
            <div class="col" ng-repeat="item in familycardno.imagesData" style="height:90px;width:90px"  >
                <img  ng-src="{{item.compressed.dataURL}}" height="90px" width="90px" /> <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
            </div>
            </div>
            <div class="row center" ng-show="appMode=='mobile'">
                <div class="col" style="max-height:90px;max-width:90px" ng-if="familycardno.imagesData.length==0"><a ><img ng-src="{{image}}" height="90px" ></a></div>
            </div>
            <div class="row center" ng-show="appMode=='web'">
                 <div style="max-height:90px;max-width:90px" class="col"  ng-if="familycardno.imagesData==0"><img ng-src="{{image}}" height="90px" ></div>
            </div>
            <div class="row" style="padding-top:50px">
                <button  class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" ng-click="send()">Send</button>
            </div>
        </ion-list>

    </ion-content>
</ion-view>