<ion-view title="Change Marital Status" class="bg-lightgrey">

    <ion-nav-buttons side="right">
        <!-- <button class="button button-dark button-clear icon ion-ios-compose-outline" ui-sref="app.edit-biodata"></button>-->
    </ion-nav-buttons>

    <ion-content class="has-header bt-grey profile" scroll="true">
        <ion-list>
           <!--  <ion-checkbox class="item-checkbox" ng-repeat="item in itens">
                <label class="checkbox">
                    <input type="checkbox" ng-model="item.checked" ng-click="updateSelection($index, itens, item.title)">
                </label>
                {{ item.title }}
            </ion-checkbox>-->
             <ion-checkbox ng-repeat="item in itens"
                      ng-model="item.checked" 
                      ng-checked="item.checked" ng-click="updateSelection($index, itens, item.title)">
            {{ item.title }}
            </ion-checkbox>

            <div class="row">
                <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" ng-click="send()">Send</button>
            </div>
        </ion-list>

    </ion-content>
</ion-view>