<ion-view title="Profile" class="bg-lightgrey">

    <ion-nav-buttons side="right">
        <!-- <button class="button button-dark button-clear icon ion-ios-compose-outline" ui-sref="app.edit-biodata"></button>-->
    </ion-nav-buttons>

    <ion-content class="has-header bt-grey profile" scroll="true">
        <!-- <div class="header">
            <img ng-src="{{user.photo}}">
            <!--<span class="badge badge-balanced">3</span>-->
            <!-- <h2 class="lead text-medium">{{personal.firstName}} {{personal.lastName}}</h2>
            <p style="font-size:14px">{{personal.assignment.jobTitle.jobTitle}}</p>
        </div>-->
        <div class="card hybrid">
            <div class="item item-thumbnail-left item-text-wrap" >
                <img ng-src="{{user.photo}}" style="max-width:100px">
                <h2 class="lead text-medium" style="padding-left:0px">{{personal.firstName}} {{personal.middleName}} {{personal.lastName}}</h2>
                <h3>{{personal.assignment.positionName}}</h3>
                <p style="font-size:14px">{{personal.assignment.organizationName}}</p>
            </div>
        </div>

        <div class="list">
            <div class="item item-text-wrap" >
                <h2 class="talents">Place of Birth</h2>
                <p class="text-small" >{{personal.birthPlace}}</p>
            </div>
            <div class="item item-text-wrap" >
                <h2 class="talents">Date of Birth</h2>
                <p class="text-small" >{{personal.birthDate}}</p>
            </div>
            <div class="item item-text-wrap item-icon-right" ng-click="goChangeMaritalStatus(personal.maritalStatus,personal.maritalStatusDataApproval)">
                <h2 class="talents">Marital Status</h2>
                <p class="text-small" >{{personal.showMaritalStatus}}</p>
                <span class="item-note calm" ng-if="personal.maritalStatusDataApproval !=null" style="font-size:12px;color">
                    Waiting Approval
                </span>
                <i class="icon ion-ios-arrow-right pull-right"></i>
            </div>
            <div class="item item-text-wrap" >
                <h2 class="talents">Handphone</h2>
                <p class="text-small" >{{personal.mobilePhone}}</p>
            </div>
            <div class="item item-text-wrap" >
                <h2 class="talents">Office Email</h2>
                <p class="text-small" >{{personal.officeMail}}</p>
            </div>
            <div class="item item-text-wrap" >
                <h2 class="talents">Personal Email</h2>
                <p class="text-small" >{{personal.email}}</p>
            </div>
            <div class="item item-text-wrap" >
                <h2 class="talents">Blood Type</h2>
                <p class="text-small" >{{personal.bloodType}}</p>
            </div>
            <div class="item item-text-wrap" >
                <h2 class="talents">Address</h2>
                <p class="text-small" >{{personal.addressFull}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>