<ion-view title="Profile" class="bg-lightgrey">

    <ion-nav-buttons side="right">
        <!-- <button class="button button-dark button-clear icon ion-ios-compose-outline" ui-sref="app.edit-biodata"></button>-->
    </ion-nav-buttons>

    <ion-content class="has-header bt-grey profile" scroll="true">
        <ion-refresher pulling-text="Pull to refresh"
             refreshing-text="Loading..."
             refreshing-icon="ion-loading-c"
             pulling-icon="ion-ios7-arrow-thin-down"
             on-refresh="initMethod()">
        </ion-refresher>
        <div class="card hybrid">
            <div class="item item-thumbnail-left item-text-wrap" >
                <img ng-src="{{user.photo}}" style="max-width:100px">
                <h4  style="padding-left:0px" class="text-medium uppercase"><b>{{personal.name}}</b></h4>
                 <p class="text-small">{{personal.assignment.employeeNo}}</p>
                <p class="text-smaller">{{personal.assignment.positionName}}</p>
            </div>
        </div>

        <div class="list">
            <div class="item item-text-wrap" >
                <p class="text-small">Place and Date of Birth</p>
                <h2 class="lead text-small" >{{personal.birthPlace}} , {{personal.birthDate}}</h2>
            </div>
            <div class="item item-text-wrap" >
                <p class="text-small">Gender</p>
                <h2 class="lead text-small" >{{personal.gender}}</h2>
            </div>

            <!-- <p>{{personal}}</p> -->
            <div class="item item-text-wrap item-icon-right" ng-click="goChangeMaritalStatus(personal.maritalStatus,personal.maritalStatusDataApproval)">
                <p class="text-small">Marital Status</p>
                <span class="item-note calm" ng-if="personal.maritalStatusDataApproval !=null" style="font-size:12px;color">
                    Waiting Approval
                </span>
                <h2 class="lead text-small" >{{personal.showMaritalStatus}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
            <div class="item item-text-wrap item-icon-right" ng-click="goChangeNpwp(personal.npwpNo,personal.npwpStatusDataApproval)">
                <p class="text-small">No. Npwp</p>
                <span class="item-note calm" ng-if="personal.npwpStatusDataApproval !=null" style="font-size:12px;color">
                    Waiting Approval
                </span>
                

                <div ng-if="personal.npwpStatusDataApproval != null">
                    <h2 class="lead text-small" >{{personal.changeNPWP}}</h2>
                </div>
                <div ng-if="personal.npwpStatusDataApproval == null">
                    <h2 class="lead text-small" >{{personal.npwpNo}}</h2>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>



            <div class="item item-text-wrap item-icon-right" ng-click="goChangeNik(personal.nircNo,personal.nircStatusDataApproval)">
                <p class="text-small">NIK</p>
                <span class="item-note calm" ng-if="personal.nircStatusDataApproval !=null" style="font-size:12px;color">
                    Waiting Approval
                </span>
                
                <div ng-if="personal.nircStatusDataApproval != null">
                    <h2 class="lead text-small" >{{personal.changeNIRCNO}}</h2>
                </div>
                <div ng-if="personal.nircStatusDataApproval == null">
                    <h2 class="lead text-small" >{{personal.nircNo}}</h2>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>


            <div class="item item-text-wrap item-icon-right" ng-click="goChangeKtpName(personal.ktpName,personal.ktpnameStatusDataApproval)">
                <p class="text-small">FASKES</p>
                <span class="item-note calm" ng-if="personal.ktpnameStatusDataApproval !=null" style="font-size:12px;color">
                    Waiting Approval
                </span>
                
                <div ng-if="personal.ktpnameStatusDataApproval != null">
                    <h2 class="lead text-small" >{{personal.changeKTPNAME}}</h2>
                </div>
                <div ng-if="personal.ktpnameStatusDataApproval == null">
                    <h2 class="lead text-small" >{{personal.ktpName}}</h2>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>

            <div class="item item-text-wrap" >
                <p class="text-small">No Kartu BPJS TK</p>
                <h2 class="lead text-small" >{{personal.bpjsTKNo}}</h2>
            </div>


            <div class="item item-text-wrap" >
                <p class="text-small">Married Date</p>
                <h2 class="lead text-small" >{{personal.marriedDate}}</h2>
            </div>

             <div class="item item-text-wrap" >
                <p class="text-small">Education</p>
                <h2 class="lead text-small" >{{personal.lastEducation}}</h2>
            </div>

        

             <div class="item item-text-wrap" >
                <p class="text-small">Family Card No</p>
                <h2 class="lead text-small" >{{personal.familyCardNo}}</h2>
            </div>

            <div class="item item-text-wrap" >
                <p class="text-small">Handphone</p>
                <h2 class="lead text-small" >{{personal.mobilePhone}}</h2>
            </div>
            <div class="item item-text-wrap" >
                <p class="text-small">Office Email</p>
                <h2 class="lead text-small" >{{personal.officeMail}}</h2>
            </div>
            <div class="item item-text-wrap" >
                <p class="text-small">Personal Email</p>
                <h2 class="lead text-small" >{{personal.email}}</h2>
            </div>
            <div class="item item-text-wrap" >
                <p class="text-small">Blood Type</p>
                <h2 class="lead text-small" >{{personal.bloodType}}</h2>
            </div>
            <div class="item item-text-wrap" >
                <p class="text-small">Address</p>
                <h2 class="lead text-small" >{{personal.addressFull}}</h2>
            </div>

             <div class="item item-text-wrap" >
                <p class="text-small">Zip Code</p>
                <h2 class="lead text-small" >{{zipCode}}</h2>
            </div>
            
        </div>
    </ion-content>
</ion-view>