<ion-view title="Need Approval" class="bg-lightgrey">
<ion-nav-buttons side="right">
        <button ng-if="isHr == true"class="button button-icon dark icon ion-ios-search" ng-click="goToSearch()"></button>
    </ion-nav-buttons>
<ion-content class="has-header bt-grey profile" scroll="false">

<div class="row text-center" style="height:40px">
            <div class="col font-thin" ng-class="module.type === 'personalia' ? 'text-medium balanced bb' : ''" ng-click="chooseTab('personalia')"><b>Personalia</b></div>
            <div class="col font-thin" ng-class="module.type === 'benefit' ? 'text-medium balanced bb' : ''" ng-click="chooseTab('benefit')"><b>Benefit</b></div>
            <div class="col font-thin" ng-class="module.type === 'attendance' ? 'text-medium balanced bb' : ''" ng-click="chooseTab('attendance')"><b>Attendance</b></div>
</div>

<ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
 <ion-refresher pulling-text="Pull to refresh"
             refreshing-text="Loading..."
             refreshing-icon="ion-loading-c"
             pulling-icon="ion-ios7-arrow-thin-down"
             on-refresh="refresh()">
</ion-refresher>
<div ng-if="module.type === 'personalia'">
   <div class="card" ng-repeat="item in requests | filter: searchFilter ">
            <div class="item item-avatar item-text-wrap" ng-if="item.task=='SUBMITFAMILY'" ng-click="gotoDetailRequest(item.id)" >
                <img ng-src="{{item.photoProfile}}">
                <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
                <h2 class="lead">{{item.employeeRequest.name}}</h2>
                <p>{{item.taskDescription}}</p>
                <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
                
            </div>
             <div class="item item-avatar item-text-wrap" ng-if="item.task=='SUBMITADDRESS'" ng-click="gotoDetailRequest(item.id)" >
                <img ng-src="{{item.photoProfile}}">
                <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
                <h2 class="lead">{{item.employeeRequest.name}}</h2>

                <p>{{item.description}}</p>
                <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
                
                
            </div>
            <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGEFAMILY'" ng-click="gotoDetailRequest(item.id)" >
                <img ng-src="{{item.photoProfile}}">
                <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
                <h2 class="lead">{{item.employeeRequest.name}}</h2>
                <p>{{item.description}}</p>
                <p class="text-smaller" >{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
                
                
            </div>
            <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGEADDRESS'" ng-click="gotoDetailRequest(item.id)" >
                <img ng-src="{{item.photoProfile}}">
                <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
                <h2 class="lead">{{item.employeeRequest.name}}</h2>
                <p>{{item.description}}</p>
                <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
                
                
            </div>

            <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGEMARITALSTATUS'" ng-click="gotoDetailRequest(item.id)" >
                <img ng-src="{{item.photoProfile}}"/>
                <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
                <h2 class="lead">{{item.employeeRequest.name}}</h2>
                <p>{{item.taskDescription}}</p>
                <p class="text-smaller" >{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
                
            </div>
            
            <div class="item item-text-wrap" ng-if="item.task=='SUBMITLEAVE'" ng-click="gotoDetailRequest(item.id)" >
                <div class="row">
                    <div class="col col-10"><img ng-src="{{item.photoProfile}}"></div>
                    <div class="col col-80" style="valign:center"><h2 class="lead">{{item.employeeRequest.firstName}} {{item.employeeRequest.lastName}}</h2></div>
                    <div class="col col-10"><p class="text-smaller pull-right" style="right:32px" >{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p></div>
                </div>
                <div class="row item">
                    <div class="col col-10"><span class="item item-icon-left" >
                        <i class="icon ion-ios-list-outline"></i>
    
                    </span> </div>
                    <div class="col col-80">{{item.ref.leaveTypeName}}</div>
                    <div class="col col-10"></div>
                </div>
                <div class="row">
                    <div class="col col-10"><span class="item item-icon-left" ><i class="icon ion-ios-calendar-outline"></i></span> </div>
                    <div class="col col-80"><p>{{item.ref.startDate}} - {{item.ref.endDate}}</p></div>
                    <div class="col col-10"><span class="badge badge-balanced" style="top:50px">{{item.ref.days}}</span></div>
                </div>

                <div class="row card-action pull-right">
                    <button class="waves-effect waves-light btn button-calm" ng-click="approval('rejected',{{item.id}})">Reject</button>&nbsp;&nbsp;
                    <button class="waves-effect waves-light btn button-balanced" ng-click="approval('approved',{{item.id}})">Approve</button>
                </div><br>
            </div>
    </div>
    <div class="row" ng-if="requests.length != 0"  ng-show="isLoadMorePersonalShow">
            <div class="col col-100">
                    <button class="button button-block button-outline button-positive" ng-click="loadMorePersonal()">Load More Results</button>
            </div>  
    </div>

    
    <div class="item" ng-if="requests.length == 0" >
            <div class="col col-100">
                <h2>No request available</h2>
                <p>Please Pull to refresh</p>
            </div>  
    </div>
</div>
<div ng-if="module.type === 'benefit'">
         <div class="card" ng-repeat="item in benefitRequests | filter: searchFilter ">
                <div class="item item-avatar item-text-wrap" ng-click="gotoDetailRequest(item.id)" >
                    <img ng-src="{{item.photoProfile}}">
                    <span class="item-note calm text-smaller">
                        {{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}
                    </span>
                    <h2 class="lead">{{item.employeeRequest.name}}</h2>
                    <p class="text-small" >{{item.ref.categoryType}}</p>
                    <p class="text-small" ng-if="item.ref.categoryType!='Medical Overlimit'">Total : Rp. {{item.ref.totalAmount | number:0}}</p>
                   
                </div>
         </div>

        <div class="row" ng-if="benefitRequests.length != 0"  ng-show="isLoadMoreBenefitShow">
            <div class="col col-100">
                    <button class="button button-block button-outline button-positive" ng-click="loadMoreBenefit()">Load More Results</button>
            </div>  
        </div>
         <div class="item" ng-if="benefitRequests.length == 0" >
            <div class="col col-100">
                <h2>No request available</h2>
                <p>Please Pull to refresh</p>
            </div>  
        </div>
</div>
<div ng-if="module.type === 'attendance'">
         <div class="card" ng-repeat="item in attendanceRequests | filter: searchFilter ">
                <div class="item item-avatar item-text-wrap" ng-click="gotoDetailRequest(item.id)" >
                    <img ng-src="{{item.photoProfile}}">
                    <span class="item-note calm text-smaller">
                        {{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}
                    </span>
                    <h2 class="lead">{{item.employeeRequest.name}}</h2>
                    <p class="text-medium" >{{item.ref.categoryType}}</p>
                    <p class="text-smaller" >{{item.ref.startDate | date: 'dd MMM yyyy'}} - {{item.ref.endDate | date: 'dd MMM yyyy'}}</p>
                    
                </div>
         </div>

        <div class="row" ng-if="benefitRequests.length != 0"  ng-show="isLoadMoreBenefitShow">
            <div class="col col-100">
                    <button class="button button-block button-outline button-positive" ng-click="loadMoreBenefit()">Load More Results</button>
            </div>  
        </div>
         <div class="item" ng-if="attendanceRequests.length == 0" >
            <div class="col col-100">
                <h2>No request available</h2>
                <p>Please Pull to refresh</p>
            </div>  
        </div>
</div>

 </ion-scroll> 
</ion-content>
</ion-view>