<ion-view title="Add Address">
   
    <ion-content padding="true" class="has-header materialize" scroll="true">
        
        <div class="item no-padding">
            <div class="row">
                <div class="input-field col s12">
                    <p for="textarea1">Address *</p>
                    <textarea  placeholder="Enter your Address detail" ng-model="address.address" class="materialize-textarea"></textarea>
                   
                </div>
            </div>
             <div class="row">
                <div class="input-field col s6">
                     <p for="textarea1">RT</p>
                    <input id="first_name" placeholder="e.g. 01" ng-model="address.rt" type="text" class="validate">
                  
                </div>
                <div class="input-field col s6">
                    <p for="textarea1">RW</p>
                    <input  type="text" ng-model="address.rw" placeholder="e.g. 02" class="validate">
                   
                </div>
        
            </div>

            <div class="row">
                <div class="input-field col">
                      <p for="first_name">Country *</p>
                      <select ng-model="address.country">
                            <option value="">-- Select --</option>
                            <option ng-repeat="country in selectCountry">{{country.id}}</option>
                      </select>
                    
                </div>
                
            </div>
            <div class="row">
                <div class="input-field col">
                      <p for="first_name">Province *</p>
                      <select ng-model="address.province">
                        <option value="">-- Select --</option>
                            <option ng-repeat="province in selectProvince">{{province.id}}</option>
                      </select>
                    
                </div>
                
            </div>
            <div class="row">
                <div class="input-field col">
                  <p for="first_name">City *</p>
                  <!--
                  <select ng-model="address.city">
                        <option value="">-- Select --</option>
                        <option ng-repeat="city in selectCity">{{city.id}}</option>
                  </select>
                  -->
                  <input placeholder="Enter City" ng-model="address.city" type="text" class="validate">
                </div>

            </div>
           
             
            <div class="row">
                <div class="input-field col">
                    <p for="first_name">ZIP Code</p>
                    <input ng-model="address.zipCode" placeholder="e.g. 4546" type="text" class="validate">
                    
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <p for="first_name">Phone</p>
                    <input ng-model="address.phone" placeholder="Enter Phone Number" type="text" class="validate">
                   
                </div>
            </div>

            <div class="row">
                
            </div>
            <div class="row">
                <div class="input-field col">
                 <p for="first_name">Stay Status *</p>
                  <select ng-model="address.stayStatus">
                        <option value="">-- Select --</option>
                        <option ng-repeat="stayStatus in selectStayStatus">{{stayStatus.id}}</option>
                  </select>
                </div>
            </div>

            
            <div class="row">
                
                <button class="btn button-medium waves-effect waves-light button button-balanced  button-block waves-effect waves-light" ng-click="submitForm()">Submit</button>
            </div>

        </div>

    </ion-content>

</ion-view>