<ion-view title="Add Address">
   
    <ion-content padding="true" class="has-header materialize" scroll="true">
        
        <div class="item no-padding">
            <div class="row">
                <div class="input-field col s12">
                    <textarea  ng-model="address.address" class="materialize-textarea"></textarea>
                    <label for="textarea1">Address</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" ng-model="address.rt" type="text" class="validate">
                    <label for="first_name">RT</label>
                </div>
                <div class="input-field col s6">
                    <input  type="text" ng-model="address.rw" class="validate">
                    <label for="first_name">RW</label>
                </div>
        
            </div>

            <div class="row">
                <div class="input-field col">
                      <p for="first_name">Country</p>
                      <select ng-model="address.country">
                            <option ng-repeat="country in selectCountry">{{country.id}}</option>
                      </select>
                    
                </div>
                
            </div>
            <div class="row">
                <div class="input-field col">
                      <p for="first_name">State</p>
                      <select ng-model="address.province">
                            <option ng-repeat="province in selectProvince">{{province.id}}</option>
                      </select>
                    
                </div>
                <div class="input-field col">
                  <p for="first_name">City</p>
                  <select ng-model="address.city">
                        <option ng-repeat="city in selectCity">{{city.id}}</option>
                  </select>
                </div>

            </div>
           
             
            <div class="row">
                <div class="input-field col">
                    <input ng-model="address.zipCode" type="text" class="validate">
                    <label for="first_name">ZIP Code</label>
                </div>
                <div class="input-field col">
                    <input ng-model="address.phone" type="text" class="validate">
                    <label for="first_name">Phone</label>
                </div>
            </div>

            <div class="row">
                
            </div>
            <div class="row">
                <div class="input-field col">
                 <p for="first_name">Stay Status</p>
                  <select ng-model="address.stayStatus">
                        <option ng-repeat="stayStatus in selectStayStatus">{{stayStatus.id}}</option>
                  </select>
                </div>
            </div>

            
            <div class="row">
                
                <button class="btn button-small waves-effect waves-light button button-balanced  button-block waves-effect waves-light" ng-click="submitForm()">Submit</button>
            </div>

        </div>

    </ion-content>

</ion-view>