<ion-view title="My Address">
   
    <ion-content class="has-header" scroll="true">
        <ion-refresher pulling-text="Pull to refresh"
             refreshing-text="Loading..."
             refreshing-icon="ion-loading-c"
             pulling-icon="ion-ios7-arrow-thin-down"
             on-refresh="refresh()">
            </ion-refresher>
        <div  class="bg-lightgrey">
            <div >
                <div class="card hybrid" ng-repeat="item in address | filter: searchFilter  | orderBy: 'publishedDate':true " ng-click="goToDetails(item.idx)">

                    <div class="item item-text-wrap item-icon-right">
                        
                        <h2 class="lead text-small" style="padding-left:0px">{{item.address}}</h2>
                        <p>{{item.city}} , {{item.province}}</p>
                        <p><b>{{item.stayStatus}}</b></p>
                        <i class="icon ion-ios-arrow-right pull-right"></i>
                        <span class="item-note calm" ng-if="item.status=='pending'">
                          Pending
                        </span>
                    </div>
                    
                 </div>
                 <div class="item" ng-if="address.length == 0" >
                    <div class="col col-100">
                    <h2>No Address available</h2>
                        <p>You may don't have any Address</p>
                    </div>  
                </div>

                </div>
            </div>
        </div>
    </ion-content>

    <a class="btn-floating btn-large waves-effect waves-light red lighten-1" style="position:fixed; bottom:3%;right:5%;z-index:999" ng-click="goToAddAddress();"><i class="icons ion-plus"></i></a>
</ion-view>