
<ion-view title="Register">
    <ion-content padding="true" class="has-header materialize" style="top:4px">
        <div class="signup-screen">
         <div class="text-center" style="margin-bottom: 5px;">
            <div class="text-center"><img src="img/talents/talents.120x64-sidebar.png" class="text-center" /></div>
         </div>
        <div class="item no-padding">
            <div class="row">
                <div class="input-field col">
                    <input ng-model="user.companyCode" type="text" class="validate">
                    <label for="first_name">Company Code</label>
                </div>
                
            </div>
            <div class="row">
                <div class="input-field col">
                    <input ng-model="user.email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <input ng-model="user.password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field col">
                    <input ng-model="user.repassword" type="password" class="validate">
                    <label for="password">Confirm Password</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light button button-calm  button-block waves-effect waves-light" ng-click="goBack('login')">Back</button>&nbsp;
                <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" ng-click="submitForm()">Register</button>
            </div>

        </div>

    </ion-content>
</ion-view>