<style>
    .change{
        border-color: white;
        padding: 10px;
    }
/* CSS untuk kalender*/
    .ionic_datepicker_popup .popup-body .month_select select, .ionic_datepicker_popup .popup-body .year_select select {
      left: -3px;
      top: -15px;
      border: none;
      padding: 0;
    }
    .ionic_datepicker_popup .calendar_grid {
        height: 215px;
        font-size: large;
        line-height: 3;
    }

</style>

<ion-view title="My Team">
    <ion-content class="has-header" scroll="false">

      <div style="height:95%; overflow:scroll" class="bg-lightgrey">
        <ion-item class="change bg-lightgrey">
          <p class="bb text-large padding uppercase">{{leaveType.leaveTypeObj.name}}</p>
          <div class="row no-padding text-center bt-grey bb-grey" style="height:44px">
            <div class="col col-25"><p class="bb text-medium padding uppercase">Balance</p></div>
            <div class="col col-25"><p class="bb text-large padding uppercase">{{absents.Used}}</p></div>
            <div class="col col-25 bl-grey"><p class="bb text-medium padding uppercase">Used</p></div>
            <div class="col col-25"><p class="bb text-large padding uppercase">{{absents.Available}}</p></div>
        </div>
        <br/><br/>
          <h2>From Date</h2>
        <ionic-datepicker input-obj="datepickerObject" ng-controller="DateCtrl">
          <button class="button button-block button-positive" ng-click="openDatePicker()"> {{datepickerObject.inputDate | date:'dd-MM-yyyy'}}</button>
        </ionic-datepicker>

          <h2>To Date</h2>
        <ionic-datepicker input-obj="datepickerObject" ng-controller="DateCtrl">
          <button class="button button-block button-positive" ng-click="openDatePicker()"> {{datepickerObject.inputDate | date:'dd-MM-yyyy'}}</button>
        </ionic-datepicker>

          <h2>Comment</h2>
          <textarea style="border-color:#1479c9" ng-model="leave.comment"></textarea>
          <div class="row">
                 <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" ng-click="sendRequestLeave()">Send</button>
            </div>
        </ion-item>
      </div>
    </ion-content>
</ion-view>