<ion-view title="Leaves">

<style>
    .circle{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 20px;
    color: #33cd5f;
    background:  #f8f8f8;

    }
    .circle2{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    }
    .posisi{
        position: relative;top: 14px;
    }
     .thicker {
        font-weight: bold;
    }
</style>

    <ion-content class="has-header" scroll="true">
        <div  class="bg-lightgrey">
                 <div class="card">
                     <div class="item item-divider" >Summary</div>
                     <center>
                        <div class="row padding">
                             <div class="col">
                                <div class="circle" style="border: 1px solid  #ffc900;"><h3 class="energized posisi">5</h3>
                                <p class="text-smaller" style="font-size:0.6em !important">Annual</p></div> 
                             </div>

                            <div class="col">
                                    <div class="circle" style="border: 1px solid #33cd5f;"><h3 class="balanced posisi">8</h3>
                                <p class="text-smaller" style="font-size:0.6em !important">Sick</p></div> 
                             </div>

                             <div class="col">
                                <div class="circle" style="border: 1px solid #ef473a;"><h3 class="assertive posisi">0</h3>
                                <p class="text-smaller" style="font-size:0.6em !important">Permission</p></div> 
                            </div>
                        </div>
                    </center>
                </div>

                 <div class="card">
                    <div class="item item-divider" >Quick Action</div>
                    <div class="item">
                        <center>
                        <div class="row no-padding">
                            <div class="col">
                                <div ng-click="goToPage('app.leaves')" class="item-text-wrap light" style="padding: 5px;" style="padding: 5px;">
                                    <img src="img/talents/attendance-48x48.png"><br>
                                    <span class="dark" style="font-size: 12.5px;">My Leave</span>
                                </div>
                            </div>
                            <div class="col">
                                <div ng-click="goToPage('app.addleave')"class="item-text-wrap light" style="padding: 5px;" style="padding: 5px;">
                                    <img src="img/talents/leave-48x48.png"><br>
                                    <span class="dark" style="font-size: 12.5px;">Add Leave</span>
                                </div>
                            </div>
                        </div>
                        </center>
                    </div>
                </div>
                <div class="item item-divider" >Waiting Approval Leaves</div>
                <div class="list" >
                    <div class="item" ng-repeat="item in leaves" >
                        
                        <h5 style="color: #949494;">{{item.startDate | date: 'dd MMM'}} - {{item.endDate | date: 'dd MMM yyyy'}}</h5>
                        <h3 class="thicker">{{item.categoryType}}</h3>
                    </div>

                    <div class="item" ng-if="leaves.length==0" >
                        <div class="col col-100">
                            <h3>No request available</h3>
                            <p>You may don't have pending leave request</p>
                        </div>  
                    </div>

                </div>

            </div>
        </div>
    </ion-content>
</ion-view>