<ion-view title="Confirmation" cache-view="false">
<style>
    .left {
        text-align: left;
        float: left;
        width: 60%;
    }
    .right {
        text-align: right;
        float: right;
        width: 40%;
    }
</style>
    <ion-content  class="profile has-header" scroll="true">
    <ion-list class="padding">
        
        <div class="row padding">
            <div class="left"><p class="text-small">Category</p></div>
            <div class="right"><h2 class="lead text-small" >{{categoryType}}</h2></div>
        </div>

        <hr class="no-margin">
        <div class="row padding">
            <div class="left"><p class="text-small">Type</p></div>
            <div class="right"><h2 class="lead text-small" >{{type}}</h2></div>
        </div>

        <hr class="no-margin">
        <div class="row padding">
            <div class="left"><p class="text-small">Start Date</p></div>
            <div class="right"><h2 class="lead text-small" >{{startDate | date: 'dd MMM yyyy'}}</h2></div>
        </div>
        <hr class="no-margin">
        <div class="row padding">
            <div class="left"><p class="text-small">End Date</p></div>
            <div class="right"><h2 class="lead text-small" >{{endDate | date: 'dd MMM yyyy'}}</h2></div>
        </div>
        <hr class="no-margin">
        <div class="row padding">
            <div class="left"><p class="text-small">Total Request</p></div>
            <div class="right"><h2 class="lead text-small" >{{total | number : 0}} days</h2></div>
        </div>
        <hr class="no-margin">
        <div class="row padding">
            <div class="left"><p class="text-small">Total Balance</p></div>
            <div class="right"><h2 class="lead text-small" >{{totalBalance | number : 0}} days</h2></div>
        </div>
        <hr class="no-margin">
        <div class="row padding">
            <div class="left"><p class="text-small">Overtime In</p></div>
            <div class="right"><h2 class="lead text-small" > {{overtimeIn}} Min</h2></div>
        </div>
        <hr class="no-margin">
        <div class="row padding">
            <div class="left"><p class="text-small">Overtime Out</p></div>
            <div class="right"><h2 class="lead text-small" >{{overtimeOut}} Min</h2></div>
        </div>
        <hr class="no-margin">
        <div class="row padding">
            <div class="left"><p class="text-small">Attendance In</p></div>
            <div class="right"><h2 class="lead text-small" > {{attendanceInTime | date: 'dd MMM yyyy hh:mm'}} </h2></div>
        </div>
        <hr class="no-margin">
        <div class="row padding">
            <div class="left"><p class="text-small">Attendance Out</p></div>
            <div class="right"><h2 class="lead text-small" >{{attendanceOutTime | date: 'dd MMM yyyy hh:mm'}}</h2></div>
        </div>
        
        
</ion-list>
<div class="list" >
                <!--
                <div class="item item-divider">Attach Supporting Document</div> 
                    <div class="row">
                      <button class="button button-block button-outline button-positive" ng-click="addPicture()"><i class="icon ion-ios-camera-outline"></i> Add Attachment</button>
                    </div>
                <div class="row post" >
                    <div class="col" ng-repeat="items in images" ><img height="90px"  ng-src="{{items.image}}" /> <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button></div>
                   
                </div>
                <div class="row center">
                     <div class="col" style="min-height:90px" ng-if="images.length==0"><img ng-src="{{defaultImage}}" height="90px" ></div>
                </div>-->
    

    <div class="row">
        <button class="btn button-small  waves-effect waves-light button button-calm  button-block waves-effect waves-light"  ng-click="goBack('app.benefitlisttype')">Cancel</button>&nbsp;
        <button class="btn button-small waves-effect waves-light button button-balanced  button-block waves-effect waves-light" ng-disabled="totalCurrentClaim == 0" ng-click="submitForm()">Submit</button>
    </div>

</div>

    </ion-content>
</ion-view>
