<ion-view title="Add Certification">
   
    <ion-content padding="true" class="has-header materialize" scroll="true">
        
        <div class="item no-padding">
            <div class="row">
                <div class="input-field col">
                    <input id="name" ng-model="certification.name" type="text" class="validate">
                    <label for="first_name">Certification Name</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field col s6">
                    <input  ng-model="certification.no" type="text" class="validate">
                    <label for="first_name">No</label>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="input-field col">
                   <input  ng-model="certification.date" type="text" class="validate">
                    <label for="first_name">Date</label>
                </div>

                <div class="input-field col">
                   <input  ng-model="certification.expired" type="text" class="validate">
                    <label for="first_name">Exp Date</label>
                </div>
            </div>
        -->
            <div class="row">
                <div class="input-field col">
                    <input  ng-model="certification.principle" type="text" class="validate">
                    <label for="first_name">Principle</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field col">
                    <input  ng-model="certification.year" type="text" class="validate">
                    <label for="first_name">Year</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field col s12">
                    <p style="font-size:13px">Type</p>
                    <!-- <input  ng-model="certification.type" type="text" class="validate">-->
                    <select class="select-dropdown" ng-model="certification.type" >
                        <option ng-repeat="type in selectCertificationType">{{type.id}}</option>
                  </select>
                    
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <p>Description</p>
                    <textarea  ng-model="certification.description" class="materialize-textarea"></textarea>
                    
                </div>
            </div>
            

            <div ng-if="isEdit != true">
              <div class="item item-divider">Attach Supporting Document</div> 
              <div class="row">
                  <button class="btn waves-effect button-small waves-light button button-stable  button-block waves-effect waves-light" ng-click="addPicture()">Add Attachment</button>
              </div>
              <div class="row post" >
            
                  <div class="col" ng-repeat="items in imageCertification.images" style="height:90px;width:90px" ><img height="90px"  ng-src="{{items.image}}" /> <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button></div>
                 
              </div>

              <div class="row center">
                  <div class="col" style="min-height:90px" ng-if="imageCertification.images.length==0"><a ><img ng-src="{{image}}" height="90px" ></a></div>
              </div>
            </div>
             <div class="row">
               <button class="btn waves-effect button-small waves-light button button-balanced  button-block waves-effect waves-light" ng-click="submitForm()">Submit</button>
              
            </div>

        </div>

    </ion-content>

</ion-view>