<ion-view title="Add Address">
   
    <ion-content padding="true" class="has-header materialize" scroll="true">
        
        <div class="item no-padding">
            <div class="row">
                <div class="input-field col">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">State</label>
                </div>
                
            </div>
            <div class="row">
                <div class="input-field col">
                   <input id="first_name" type="text" class="validate">
                    <label for="first_name">City</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">RT</label>
                </div>
                <div class="input-field col s6">
                    <input  id="first_name" type="text" class="validate">
                    <label for="first_name">RW</label>
                </div>
        
            </div>
             <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Address</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <input id="first_name" type="tel" class="validate">
                    <label for="first_name">ZIP Code</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col">
                    <input id="first_name" type="tel" class="validate">
                    <label for="first_name">Phone</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">Primary ?</label>
                </div>
            </div>

            <div class="row">
                <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" ng-click="gotoHome()">Reset</button>

                <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" ng-click="gotoHome()">Send</button>
            </div>

        </div>

    </ion-content>

</ion-view>