<ion-view title="Choice Payslip">
   
    <ion-content padding="true" class="has-header materialize" scroll="true">
        
        <div class="item no-padding">
            <div class="row">
                <div class="input-field col">
                      <p for="first_name">Year</p>
                      <select ng-model="payslip.year" ng-disabled="payslipType == 'latest'">
                            <option ng-repeat="year in selectYear">{{year.id}}</option>
                      </select>
                </div>
                
            </div>
            <div class="row">
                <div class="input-field col">
                      <p for="first_name">Month</p>
                      <select ng-model="payslip.month" ng-disabled="payslipType == 'latest'">
                            <option ng-repeat="month in selectMonth">{{month.name}}</option>
                      </select>
                    
                </div>
            </div>

            <p class="bb text-medium padding uppercase">Select Type</p>
            <br>
            <ion-list>
              <ion-radio ng-model="choice.select" ng-value="'monthly'">Monthly</ion-radio>
              <ion-radio ng-model="choice.select" ng-value="'yearly'">Yearly</ion-radio>
            </ion-list>
            <div class="row">
                <button ng-disabled="!choice.select" class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" ng-click="submitForm(choice)">Show</button>
            </div>

        </div>

    </ion-content>

</ion-view>