<ion-view title="Payslip">
   
    <ion-content padding="true" class="has-header materialize" scroll="true">
        
        <div class="item no-padding">
            
            <div class="row">
                <div class="input-field col">
                      <p for="first_name">Select Year</p>
                      <select ng-model="payslip.year">
                            <option ng-repeat="year in selectYear">{{year.id}}</option>
                      </select>
                    
                </div>
                
            </div>
            <div class="row">
                <div class="input-field col">
                      <p for="first_name">Select Month</p>
                      <select ng-model="payslip.month">
                            <option ng-repeat="month in selectMonth">{{month.id}}</option>
                      </select>
                    
                </div>
                
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" ng-click="submitForm()">Show</button>
            </div>

        </div>

    </ion-content>

</ion-view>