<ion-view title="Request Detail" class="bg-lightgrey">

    <ion-content class="has-header bt-grey profile" scroll="true">

    <div class="card hybrid">
        <div class="item item-avatar item-text-wrap">
            <img ng-src="{{user.photo}}">
            <h2 class="lead text-medium">{{detail.employeeRequest.fullName}}</h2>
            <h3>{{detail.employeeRequest.assignment.positionName}}</h3>
            <p style="font-size:14px">{{detail.employeeRequest.assignment.organizationName}}</p>
        </div>
    </div>
    <div class="list">
        <div class="item item-text-wrap" >
            <h2 class="talents">Request Type</h2>
            <p class="text-small" >{{detail.description}}</p>
        </div>
        <div ng-if="detail.task == 'CHANGEMARITALSTATUS'">
                <div class="item item-text-wrap" >
                    <h2 class="talents">Description</h2>
                    <p class="text-small" >{{detail.taskDescription}} </p>
                </div>
                <div class="item item-text-wrap" >
                    <h2 class="talents">Attachment</h2>
                    <div class="row post" ng-repeat="obj in detail.attachments" ng-if="$index % 3 == 0">
                        <div class="col" ng-if="$index==0"><img style="max-width:100px;max-height:100px" ng-src="{{obj.image}}" ng-click="openImagePreview(obj.image)" /></div>
                        <div class="col" ng-if="$index==1"><img style="max-width:100px;max-height:100px" ng-src="{{obj.image}}" ng-click="openImagePreview(obj.image)"/></div>
                        <div class="col" ng-if="$index==2"><img style="max-width:100px;max-height:100px" ng-src="{{obj.image}}" ng-click="openImagePreview(obj.image)" /></div>
                    </div>

                </div>
                
        </div>

        <div ng-if="detail.task == 'SUBMITLEAVE'">
                <div class="item item-text-wrap" >
                    <h2 class="talents">Leave Type</h2>
                    <p class="text-small" >Casual</p>
                </div>
                <div class="item item-text-wrap" >
                    <h2 class="talents">From Date</h2>
                    <p class="text-small" >{{detail.ref.startDate}}</p>
                </div>
                
                <div class="item item-text-wrap" >
                    <h2 class="talents">To Date</h2>
                    <p class="text-small" >{{detail.ref.endDate}}</p>
                </div>
                 <div class="item item-text-wrap" >
                    <h2 class="talents">Comment</h2>
                    <p class="text-small" >{{detail.ref.comment}}</p>
                </div>
        </div>

        <div ng-if="detail.task == 'SUBMITFAMILY'">
                <div class="item item-text-wrap" >
                    <h2 class="talents">Name</h2>
                    <p class="text-small" >{{detail.ref.name}}</p>
                </div>
                <div class="item item-text-wrap" >
                    <h2 class="talents">Relation Type</h2>
                    <p class="text-small" >{{detail.ref.relationship}}</p>
                </div>
                 <div class="item item-text-wrap" >
                    <h2 class="talents">Attachment</h2>
                    <div class="col" style="min-height:90px"><a ng-click="gotoAddPhoto()"><img ng-src="{{attachment}}" height="90px" ></a></div>
                </div>
                
        </div>

        <div ng-if="detail.task == 'SUBMITADDRESS'">
                <div class="item item-text-wrap" >
                    <h2 class="talents">Address</h2>
                    <p class="text-small" >{{detail.ref.address}}</p>
                </div>
                <div class="item item-text-wrap" >
                    <h2 class="talents">Province</h2>
                    <p class="text-small" >{{detail.ref.province}}</p>
                </div>
                <div class="item item-text-wrap" >
                    <h2 class="talents">City</h2>
                    <p class="text-small" >{{detail.ref.city}}</p>
                </div>
                
        </div>
        <div class="row">
                <button style="display:none"class="btn button-small  waves-effect waves-light button button-calm  button-block waves-effect waves-light" ng-if="detail.processingStatus == 'Request'" ng-click="confirmCancel()">Cancel</button>&nbsp;
        </div>
    </div>
    
        
    </ion-content>
</ion-view>