<ion-view title="Request Detail" class="bg-lightgrey">

    <ion-content class="has-header bt-grey profile" scroll="true">

    <div class="card hybrid">
        <div class="item item-avatar item-text-wrap">
            <img ng-src="{{user.photo}}">
            <h2 class="lead text-medium">{{detail.employeeRequest.fullName}}</h2>
            <h3>Senior Consultant</h3>
            <p style="font-size:14px">Middleware</p>
        </div>
    </div>
    <div class="list">
        <div class="item item-text-wrap" >
            <h2 class="talents">Request Type</h2>
            <p class="text-small" >{{detail.taskTitle}}</p>
        </div>
        <div ng-if="detail.task == 'CHANGEMARITALSTATUS'">
                <div class="item item-text-wrap" >
                    <h2 class="talents">Description</h2>
                    <p class="text-small" >{{detail.taskDescription}} </p>
                </div>
                <div class="item item-text-wrap" >
                    <h2 class="talents">Attachment</h2>
                    <div class="col" style="min-height:90px"><a ng-click="gotoAddPhoto()"><img src="img/placeholder.png" height="90px" ></a></div>
                </div>
                
        </div>

        <div ng-if="detail.task == 'SUBMITLEAVE'">
                <div class="item item-text-wrap" >
                    <h2 class="talents">Leave Type</h2>
                    <p class="text-small" >Casual</p>
                </div>
                <div class="item item-text-wrap" >
                    <h2 class="talents">From Date</h2>
                    <p class="text-small" >{{detail.ref.startDate}}</p>
                </div>
                
                <div class="item item-text-wrap" >
                    <h2 class="talents">To Date</h2>
                    <p class="text-small" >{{detail.ref.endDate}}</p>
                </div>
                 <div class="item item-text-wrap" >
                    <h2 class="talents">Comment</h2>
                    <p class="text-small" >{{detail.ref.comment}}</p>
                </div>
        </div>
        <div class="row">
                <button class="btn button-small  waves-effect waves-light button button-calm  button-block waves-effect waves-light" ng-click="resetForm()">Reject</button>&nbsp;
                <button class="btn button-small waves-effect waves-light button button-balanced  button-block waves-effect waves-light" ng-click="submitForm()">Accept</button>

        </div>
    </div>
    
        
    </ion-content>
</ion-view>