<ion-view title="Request Detail" class="bg-lightgrey">

    <ion-content class="has-header bt-grey profile" scroll="true">

    <div class="card hybrid">
        <div class="item item-avatar item-text-wrap">
            <img ng-src="{{user.photo}}">
            <h2 class="lead text-medium">{{detail.employeeRequest.name}}</h2>
            <h3>{{detail.employeeRequest.assignment.positionName}}</h3>
            <p style="font-size:14px">{{detail.employeeRequest.assignment.organizationName}}</p>
        </div>
    </div>
    <div class="list">
        <div class="item item-text-wrap" >
            <h2 class="talents">Request Type</h2>
            <!-- <p class="text-small" >{{detail.taskTitle}}</p>-->
            <p class="text-small" >{{detail.description}}</p>
        </div>
        <div ng-if="detail.task == 'CHANGEMARITALSTATUS'">
                <div class="item item-text-wrap" >
                    <h2 class="talents">Description</h2>
                    <p class="text-small" >{{detail.taskDescription}} </p>
                </div>
                <div class="item item-text-wrap" >
                    <h2 class="talents">Attachment</h2>
                    <div class="row post" >
                        <div class="col" ng-repeat="items in detail.attachments" style="width:90px;height:90px" ><img width="90px" height="90px"  ng-src="{{items.image}}" ng-click="openImagePreview(items.image)" /></div>
                    </div>

                </div>
                
        </div>

        <div ng-if="detail.task == 'SUBMITLEAVE'">
                <div class="item item-text-wrap" >
                    <h2 class="talents">Leave Type</h2>
                    <p class="text-small" >Casual</p>
                </div>
                <div class="item item-text-wrap" >
                    <h2 class="talents">From Date</h2>
                    <p class="text-small" >{{detail.ref.startDate}}</p>
                </div>
                
                <div class="item item-text-wrap" >
                    <h2 class="talents">To Date</h2>
                    <p class="text-small" >{{detail.ref.endDate}}</p>
                </div>
                <div class="item item-text-wrap" >
                    <h2 class="talents">Comment</h2>
                    <p class="text-small" >{{detail.ref.comment}}</p>
                </div>
        </div>

        <div ng-if="detail.task == 'SUBMITFAMILY' || detail.task == 'CHANGEFAMILY'">
                <div class="item item-text-wrap" >
                    <h2 class="talents">Name</h2>
                    <p class="text-small" >{{detail.ref.name}}</p>
                </div>
                <div class="item item-text-wrap" >
                    <h2 class="talents">Relation Type</h2>
                    <p class="text-small" >{{detail.ref.relationship}}</p>
                </div>
                <div class="row">
                  <button class="btn waves-effect button-small waves-light button button-stable  button-block waves-effect waves-light" ng-click="viewMoreFamily()">View More</button>
                </div>
                 <div class="item item-text-wrap" >
                    <h2 class="talents">Attachment</h2>
                    <div class="row post" >
                        <div class="col" ng-repeat="items in detail.attachments" style="width:90px;height:90px" ><img width="90px" height="90px"  ng-src="{{items.image}}" ng-click="openImagePreview(items.image)" /></div>
                    </div>
                    <!-- 
                    <div class="col" style="min-height:90px"><a ng-click="gotoAddPhoto()"><img ng-src="{{attachment}}" height="90px" ></a></div>-->
                </div>
                
        </div>
        <div ng-if="detail.task == 'SUBMITBENEFIT'">
                <div class="item item-text-wrap" >
                    <h2 class="talents">Category</h2>
                    <p class="text-small" >{{detail.ref.categoryType}}</p>
                </div>
                <div ng-if="detail.ref.categoryType != 'Medical Overlimit'" class="edit padding-horizontal" ng-repeat="obj in detail.ref.details">
                    <label class="item item-input" style="margin-bottom:0px">
                        <span class="input-label">{{obj.type}}</span>
                        <input  type="text" value="Rp. {{obj.amount | number:0}}">
                        
                    </label>
                </div>
                <p ng-if="detail.ref.categoryType != 'Medical Overlimit'" class="text-medium padding uppercase">Total<span class="pull-right text-medium"> Rp.
                {{detail.ref.totalAmount | number:0}}</span></p>

                 <div class="item item-text-wrap" ng-if="detail.ref.categoryType != 'Medical Overlimit'">
                    <h2 class="talents">Attachment</h2>
                    <div class="row post" >
                        <div class="col" ng-repeat="items in detail.attachments" style="width:90px;height:90px" ><img width="90px" height="90px"  ng-src="{{items.image}}" ng-click="openImagePreview(items.image)" /></div>
                    </div>
                    
                </div>

                <div class="item item-text-wrap" ng-if="detail.ref.categoryType == 'Medical Overlimit'">
                    <h2 class="talents">Amount</h2>
                    <input   ng-model="data.amount" ng-keyup="change($event,$index)" type="tel">
                </div>
                
        </div>
        <div ng-if="detail.task == 'SUBMITADDRESS' || detail.task == 'CHANGEADDRESS'">
                <div class="item item-text-wrap" >
                    <h2 class="talents">Address</h2>
                    <p class="text-small" >{{detail.ref.address}} RT.{{detail.ref.rt}} RW.{{detail.ref.rw}} </p>
                </div>
                <div class="item item-text-wrap" >
                    <h2 class="talents">City</h2>
                    <p class="text-small" >{{detail.ref.city}}</p>
                </div>
                <div class="item item-text-wrap" >
                    <h2 class="talents">Province</h2>
                    <p class="text-small" >{{detail.ref.province}}</p>
                </div>
                <div class="row">
                  <button class="btn waves-effect button-small waves-light button button-stable  button-block waves-effect waves-light" ng-click="viewMoreAddress()">View More</button>
                </div>
                 <div class="item item-text-wrap" >
                    <h2 class="talents">Attachment</h2>
                    <div class="row post" >
                        <div class="col" ng-repeat="items in detail.attachments" style="width:90px;height:90px" ><img width="90px" height="90px"  ng-src="{{items.image}}" ng-click="openImagePreview(items.image)" /></div>
                    </div>
                    <!-- 
                    <div class="col" style="min-height:90px"><a ng-click="gotoAddPhoto()"><img ng-src="{{attachment}}" height="90px" ></a></div> -->
                </div>
                
        </div>
        <div class="row" ng-if= "needApproval == 'true'">
                <button class="btn button-small  waves-effect waves-light button button-calm  button-block waves-effect waves-light" ng-click="confirmReject()">Reject</button>&nbsp;
                <button class="btn button-small waves-effect waves-light button button-balanced  button-block waves-effect waves-light" ng-click="confirmAccept()">Approve</button>

        </div>
    </div>
    
        
    </ion-content>
</ion-view>