<style type="text/css">

.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;   
}

  .ionic_datepicker_popup .popup-body .month_select select, .ionic_datepicker_popup .popup-body .year_select select {
    left: -3px;
    top: -15px;
    border: none;
    padding: 0;
}

.ionic_datepicker_popup .calendar_grid {
    height: 215px;
    font-size: large;
    line-height: 3;
}
</style>
<ion-view title="Family">
   
    <ion-content padding="true" class="has-header materialize" scroll="true" >
        
        <div class="item no-padding">
           <div class="item item-divider">Information</div> 
            <div class="row">
                <div class="input-field col">
                    <p for="first_name">Name</p>
                    <input id="first_name" type="text" class="validate" ng-model="family.name">
                    
                </div>
                
            </div>
            <div class="row">
                
                <div class="input-field col">
                    <p for="last_name">Place of Birth</p>
                    <input id="last_name" type="text" class="validate" ng-model="family.birthPlace">
                    
                </div>

                
            </div>
         <!--    
            <div class="input-field col">
                  <p for="first_name">Date of Birth</p>
                 
                   <input id="first_name" datetime="yyyy-MM-dd" callback="datePickerCallback" datetime="0" type="text" class="validate" ion-datetime-picker ng-model="family.birthDate">-->
                    <!-- <input id="first_name" type="date" class="validate" ng-model="family.birthDate">
                    <button class="button button-block button-outline button-positive" ion-datetime-picker ng-model="family.birthDate">
                        {{family.birthDate| date: "yyyy-MM-dd"}}
                    </button>
                </div>-->
          <ionic-datepicker input-obj="datepickerObject">
            <button class="button button-block button-positive" ng-click="openDatePicker()"> {{datepickerObject.inputDate | date:'dd-MM-yyyy'}}</button>
          </ionic-datepicker>


            <div class="row">
                <div class="input-field col">
                   
                  <p style="font-size:13px">Gender</p>
                   <select class="select-dropdown" ng-model="family.gender" >
                        <option ng-repeat="gender in selectGender">{{gender.id}}</option>
                  </select>

                </div>
            </div>

            <div class="row">
                <div class="input-field col">
                   
                  <p style="font-size:13px">Relationship</p>
                   <select class="select-dropdown" ng-model="family.relationship" >
                        <option ng-repeat="relationship in selectRelationship">{{relationship.id}}</option>
                  </select>

                </div>
                
                
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <p for="textarea1">Address</p>
                    <textarea  ng-model="family.address" class="materialize-textarea"></textarea>
                    
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col">
                  <p for="first_name" style="font-size:13px">Marital Status</p>
                  <select class="select-dropdown" ng-model="family.maritalStatus" >
                        <option ng-repeat="maritalStatus in selectMaritalStatus">{{maritalStatus.id}}</option>
                  </select>
                    
                </div>
            </div>
            <div class="row">
              <div class="input-field col">
                  <p for="first_name" style="font-size:13px">Blood Type</p>
                  <select class="select-dropdown" ng-model="family.bloodType" >
                        <option ng-repeat="bloodType in selectBloodType">{{bloodType.id}}</option>
                  </select>
                    
                </div>

            </div>
             <div class="row">
                <div class="input-field col">
                    <p for="first_name">Occupation</p>
                    <input id="first_name" type="text" class="validate" ng-model="family.occupation" >
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <p for="first_name">Phone</p>
                    <input id="first_name" type="text" class="validate" ng-model="family.phone" >
                    
                </div>
            </div>
            <div ng-if="isEdit != true">
              <div class="item item-divider">Attach Document Support</div> 
              <div class="row">
                  <button class="btn waves-effect button-small waves-light button button-stable  button-block waves-effect waves-light" ng-click="addPicture()">Add Attachment</button>
              </div>
              <div class="row post" >
            
                  <div class="col" ng-repeat="items in family.images" ><img height="90px"  ng-src="{{items.image}}" /> <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button></div>
                 
              </div>
              <div class="row center">
               <div class="col" style="min-height:90px" ng-if="family.images.length==0"><img ng-src="{{image}}" height="90px" ></div>
              </div>
            </div>
            <div class="row">
                <button class="btn waves-effect button-small waves-light button button-balanced  button-block waves-effect waves-light" ng-click="submitForm()">Submit</button>
              
            </div>
       </div>
    </ion-content>

</ion-view>