<style type="text/css">
.input-talents {
    width:100%; 
    border-color:#ddd; 
    border-radius:5px;
}
</style>

<ion-view title="{{title}}">
    <ion-content  class="profile has-header" scroll="true">
     <div class="item padding bg-lightgrey" ng-if="directType == false">
        <div class="row">
            <div class="input-field col">
                      <p>Transaction Date</p>
                        <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker()">
                            {{requestHeader.transactionDate| date: "yyyy-MM-dd"}}
                        </ionic-datepicker>
            </div>
        </div>
        <div class="row" ng-if="category == 'perjalanan dinas'">
            <div class="input-field col">
                <p>Origin</p>
                <input  style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:5px" type="text" class="validate"  ng-model="requestHeader.origin">
                
            </div>
        </div>

        <div class="row" ng-if="category == 'perjalanan dinas'">
            <div class="input-field col">
                <p>Destination</p>
                <input  style="border: solid 2px #c9c9c9;" type="text" class="validate input-talents" ng-model="requestHeader.destination">
            </div>
        </div>
       
        <p class="bb text-medium padding">Please fill out your expense</p>
            <br>
        <div class="edit padding-horizontal">
            
            <div ng-if="category != 'perjalanan dinas'" >
                 
                 <label  class="item item-input" ng-repeat="item in listtype track by $index">
                    <span class="input-label" ng-if="item.type != 'select'"><b>{{item.name}}</b></span> 
                    <select ng-model="item.value" ng-if="item.type == 'select'">
                        <option ng-repeat="option in item.options track by $index">{{option.id}}</option>
                    </select>
                    <input   placeholder="0" value="0" ng-keyup="change($event,$index)" type="tel"   ng-model="item.amount">
                        
                </label>
            </div>

            <div ng-if="category == 'perjalanan dinas'" >
                 
                 <label  class="item item-input" ng-repeat="item in listtype track by $index">
                    <span class="input-label" ng-if="item.type != 'select'"><b>{{item.name}}</b></span> 
                    <select ng-model="item.value" ng-if="item.type == 'select'">
                        <option ng-repeat="option in item.options track by $index">{{option.id}}</option>
                    </select>
                    <!--
                    <input  placeholder="0" value="0" ng-keyup="change($event,$index)" type="number"   ng-model="item.amount" step="0.01"> -->
                    <input  placeholder="0" value="0" ng-keyup="change($event,$index)" type="tel"   ng-model="item.amount">
                </label>
            </div>
        </div>
        
      </div>
      <div ng-if="directType == false">
      <p class="bb text-medium padding uppercase">Total<span class="pull-right text-medium"> Rp.
    {{getTotal() | number:0}}</span></p>
          <div>
                <div class="item item-divider">Attach Supporting Document</div> 
                    <div class="row">
                        <button class="btn waves-effect button-small waves-light button button-stable  button-block waves-effect waves-light" ng-click="addPicture()">Add Attachment</button>
                    </div>
                <div class="row post" >
                    <div class="col" ng-repeat="items in images" ><img height="90px"  ng-src="{{items.image}}" /> <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button></div>
                   
                </div>
                <div class="row center">
                     <div class="col" style="min-height:90px" ng-if="images.length==0"><img ng-src="{{defaultImage}}" height="90px" ></div>
                </div>
          </div>
    </div>

    <div class="item no-padding" ng-if="directType == true">
        <p class="text-small padding">Are you sure want to apply {{labelCategory}} ?</p>
    </div>
    
    <div class="row">
        <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" ng-click="submitForm()">Submit</button>
    </div>
    </ion-content>
</ion-view>