<ion-view title="SPD Advance">
    <ion-content padding="true" class="has-header materialize">
     <div class="item padding">
        <div class="row">
            <div class="input-field col">
                <input  id="disabled" type="text" class="validate" ng-model="detail.origin">
                <label for="Origin">Origin</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col">
                <input  id="disabled" type="text" class="validate" ng-model="detail.destination">
                <label for="destination">Destination</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col padding-horizontal">
                      <p>Start Date</p>
                        <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker()">
                            {{requestHeader.startDate| date: "yyyy-MM-dd"}}
                        </ionic-datepicker>
            </div>
            <div class="input-field col">
                      <p>End Date</p>
                        <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker1()">
                            {{requestHeader.endDate| date: "yyyy-MM-dd"}}
                        </ionic-datepicker>
            </div>
        </div>
        

         <div class="row">
            <div class="input-field col">
                <p>Amount</p>
                <input  id="disabled" ng-keyup="change($event,$index)" type="tel" class="validate" ng-model="detail.amount">
                
            </div>
        </div>

        <div class="row">
            <div class="input-field col">
                <input  id="disabled" type="text" class="validate" ng-model="detail.remark">
                <label for="destination">Remark</label>
            </div>
        </div>

        
      </div>
    
    <div class="row">
        <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" ng-click="submitForm()">Submit</button>
    </div>
    </ion-content>
</ion-view>