<ion-view title="Change Password">
   
    <ion-content padding="true" class="has-header materialize" scroll="true" style="font-size:12px">
        
        <div class="item no-padding" >
            <div class="row">
                <div class="input-field col">
                    <input id="first_name" type="password" class="validate" ng-model="password.oldPassword">
                    <label for="first_name">Old Password</label>
                </div>
                
            </div>
            <div class="row">
                <div class="input-field col">
                   <input id="first_name" type="password" class="validate" ng-model="password.newPassword">
                    <label for="first_name">New Password</label>
                </div>
            </div>
            <div class="row">
                
                <div class="input-field col">
                    <input id="last_name" type="password" class="validate" ng-model="password.confirmPassword">
                    <label for="last_name">Confirm New Password</label>
                </div>
            </div>
            
            <div class="row">
                <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" ng-click="sendChangePassword()">Send</button>
            </div>
        </div>

    </ion-content>

</ion-view>