<ion-view title="Change Photo profile">
    <ion-content class="profile has-header bt-grey" scroll="true">
        <div class="header edit">
            <img ng-src="{{imageData}}" ng-click="takePicture()">
        </div>
        <div class="item no-padding">
        
	         <div class="row text-center">
	            <!--<div class="col font-thin text-large dark" ng-click="goBack('app.profile')">Cancel</div>
	             <div class="col font-thin text-large balanced bl-grey" ng-click="save()">Save</div>-->
	            <button class="btn waves-effect button-small waves-light button button-balanced  button-block waves-effect waves-light" ng-click="save()">Submit</button>
	        </div>
        </div>
        

    </ion-content>
</ion-view>